.money
{
    position: absolute;
    left: 450px;
    top:0px;
    border-left: solid 1px gainsboro;
    border-right: solid 1px gainsboro;
    height: 150px;
    width: 82px;
    line-height: 170px;
    text-align: center;

}
.orderstate{
    position: absolute;
    left: 530px;
    top:0px;
    border-left: solid 1px gainsboro;
    border-right: solid 1px gainsboro;
    height: 150px;
    width: 96px;
    line-height: 170px;
    text-align: center;
    color: red;

}
.orderstate  a:visited{color:red;text-decoration: none;}
.orderstate a:hover {
    text-decoration: none;
}
.orderoption a:hover {
    text-decoration: none;
}
.orderoption{
    position: absolute;
    left: 625px;
    top:0px;
    border-left: solid 1px gainsboro;
    border-right: solid 1px gainsboro;
    height: 150px;
    width: 124px;
    line-height: 170px;
    text-align: center;
    text-decoration: none;

}
.ordermoney{
    position:relative;
    left: 60%;
}
.orderlist{
    position:relative;
    left: 20%;
    width: 750px;
}


.lookleave{

}
.lookorder{
    display: none;
}
.lookmessage{
    display: none;
}

#lookorder{
    cursor: pointer;
}
#lookleave{
    cursor: pointer;
}
#pmessage{
    cursor: pointer;
}
#lookmessage{
    cursor: pointer;
}

.leavelist .media
{
    width: 300px;
    margin-right: -200px;
}
.messagelist{
    width: 70%;
    position: absolute;
    left: 200px;
}
.messagepane{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}
.messageinput{
    height: 300px;
    width: 500px;
    position: absolute;
    left: 400px;
}
.pmessage{
    display: none;
}